{
  "inbounds": [
    {
      "type": "vless",
      "tag": "cascade-in",
      "listen": "::",
      "listen_port": ${VPS3_PORT},
      "users": ${CLIENT_USERS_JSON},
      "tls": {
        "enabled": true,
        "server_name": "${VPS3_REALITY_SERVER_NAME}",
        "reality": {
          "enabled": true,
          "handshake": {
            "server": "${VPS3_REALITY_SERVER_NAME}",
            "server_port": 443
          },
          "private_key": "${VPS3_REALITY_PRIVATE_KEY}",
          "short_id": ["${VPS3_REALITY_SHORT_ID}"]
        }
      }
    },
    {
      "type": "vless",
      "tag": "vless-reality",
      "listen": "::",
      "listen_port": 59505,
      "users": [
        {
          "uuid": "${CLIENT_UUID}",
          "flow": "xtls-rprx-vision"
        }
      ],
      "tls": {
        "enabled": true,
        "server_name": "www.iij.ad.jp",
        "reality": {
          "enabled": true,
          "handshake": {
            "server": "www.iij.ad.jp",
            "server_port": 443
          },
          "private_key": "${VPS3_REALITY_CLIENT_PRIVATE_KEY}",
          "short_id": [
            ""
          ]
        }
      }
    }
  ]
}
